<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Management Redis Example</title>
</head>
<body>
<div>
    <!--<form th:action="@{/game/create}" method="post">-->
        <!--<textarea name="info" cols="40" rows="2"></textarea>-->
        <!--<br> <input type="submit" value="Create Game" />-->
    <!--</form>-->


    <form th:action="@{/game/create}" method="post">
        <label>
            <textarea name="rawQuiz" cols="40" rows="10"></textarea>
        </label><br>

<!--        <label for="rawQuiz">Raw Quiz in JSON</label><br>-->
<!--        <input type="text" id="rawQuiz" name="rawQuiz"><br>-->
        <input type="submit" value="Create Game">
    </form>

    <div>
    <form th:action="@{/game/destroy}" method="post">
    <input type="submit" value="Stop Current Game" />
    </form>
    </div>

    <br>
    <br>

</div>
<!--<div>-->
    <!--<form th:action="@{/invalidate/session}" method="post">-->
        <!--<input type="submit" value="Destroy Session" />-->
    <!--</form>-->
<!--</div>-->
<div>
    <h2>Game PIN:</h2>
    <h2 th:text="${gameId}" /><br>
<!--<span th:text="${#request.requestURI}" /><br>-->
<!--<span th:text="${#request.requestURL}" /><br>-->
<!--<span th:text="${#httpServletRequest.requestURI}" /><br>-->
<!--<span th:text="@{/game/join?gameId=__${gameId}__}" /><br>-->
    <a th:href="@{/game/join?gameId=__${gameId}__}">Join</a>


</div>

</body>
</html>
