<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Management Redis Example</title>
</head>
<body>


<form th:action="@{/game/register}" method="post">
    <label for="name">What's your name?</label><br>
    <input type="text" id="name" name="name"><br>
    <input id="redirectUrl" name="redirectUrl" type="hidden" th:value="${redirectUrl}"><br>
    <input type="submit" value="Submit name">
</form>

</body>
</html>
